# Understanding basic data types and data structures in R

## every thing in R is an object

R has 6 basic data types(in adition to the five listed below,there is also raw which will not be  discussed in the workshop)
- character
- numeric(real or decimal)
- integer
- logical
- comples

Elements of these data types may be combined to form data structures,such as atomic vector. when we call a vector atomic, we mean that the vector only holds data of a single data type. Below are examples of atomic character vector,numeric vector,integer vector,etc..

 R provides many functions to examine features of vectors and other objects,for example
 - class() -what kind of objects is it (hiigh-level)?
 - typeof() -what is the object's data type(low-level)?
 - length() -how long is it? what about two dimensional objects?
 - attributes() -does it have any metadata?

In [1]:
x <- "dataset"
typeof(x)

[1] "character"

In [2]:
x <- 23
class(x)
typeof(x)
length(x)
attributes(x)

[1] "numeric"

[1] "double"

[1] 1

NULL

In [3]:
y <-1:10
y

 [1]  1  2  3  4  5  6  7  8  9 10

R has many data structures. These include
- list
- atomic
- matrix
- dataframe
- factors

In [ ]:
a <-